.counter-container{
  width: 80%;
  height: 600px;
  padding: 20px;
  background-color: #29b6f6;
  text-align: center;
  margin-inline: auto;
}
.color-white{
  color: #fff;
}

.counter-container button{
  padding-inline: 20px;
  margin-inline: 10px ;
}
.counter-container input{
  padding: 12px;
}